// .me {
//     transform: scale(0.3);
// }

.heading {
    margin-left: 32px;
    font-family: serif;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    display: contents;
}

.paragraph {
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 43px;
    font-style: oblique;
    font-family: serif;
    line-height: 2.5;
}