.sidebar {
   display: flex;
   flex-direction: column;
   max-width: 200px;
   width: 100%;
   background-color: darkslategrey;
   height: 100%;
   opacity: 0.9;

   button {
      margin: 44px 8px;
      color: white;
      background-color: transparent;
      text-decoration: none;
      text-align: center;
      border: transparent;   
   }

	h1 {
		margin: 32px;
	}
}