.container {
    background-image: url('/assets/background2.jpeg');
    background-size: cover;
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    position: absolute;
    top: 0;
    left: 0;
}